@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 20px 10px;
  width: 100%;
  z-index: 1;
  transition: 0.5s;
  background-color: white;
}

header form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header form .logo {
  color: #6f90f3;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}

header form .search {
  padding: 10px;
  width: 700px;
}

header form #send {
  background-color: #6f90f3;
  color: white;
  border: none;
  outline: 0;
  padding: 10px;
  transition: all 0.5s;
}

header form #send:hover {
  background-color: #e2e7f7;
  color: #5771be;
}

.container {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.container .filter button {
  background-color: #6f90f3;
  color: white;
  border: none;
  outline: 0;
  padding: 0 10px;
  transition: all 0.5s;
}

.container .filter button:hover {
  background-color: #e2e7f7;
  color: #5771be;
}

.container .sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.container .sections section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 340px;
  cursor: pointer;
  transition: all 0.5s;
}

.container .sections section:hover {
  letter-spacing: 0.2px;
}

.container .sections section .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.container .sections section .user img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.container .sections section .photo {
  width: 300px;
  height: 337px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 6px 5px 5px #dbe1f1;
  transition: all 0.5s;
}

.container .sections section .photo:hover {
  width: 303px;
  height: 340px;
}

.container .sections section .titre {
  font-size: large;
  font-weight: bold;
}

.container .sections section .prix {
  font-size: x-large;
  font-weight: bold;
}

.container .sections section .date {
  font-style: italic;
}
