* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.container div ul li {
  text-decoration: none;
  list-style-type: none;
}
