@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6f90f3;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
}

.container form * {
  font-size: 20px;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
}

.container form .title {
  text-align: center;
  font-size: 35px;
}

.container form #file {
  color: white;
  background: #6f90f3;
  text-align: center;
  transition: all 0.5s;
}

.container form #file:hover {
  background-color: #e2e7f7;
  color: #5771be;
}

.container form #submit {
  color: white;
  background: #6f90f3;
  border: none;
  outline: none;
  transition: all 0.5s;
}

.container form #submit:hover {
  background-color: #e2e7f7;
  color: #5771be;
}

.logo {
  position: absolute;
  color: white;
  margin: 20px 30px;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
}

.logo:hover {
  text-decoration: none;
}
